<header>
  <div class="container">
    <div class="header-content">
      <a href="/" class="logo" aria-label="Jade Moments home">
        <img src="../assets/images/site/butterfly.svg" alt="" class="logo-icon"></i> Daniela San Martín
      </a>
      <nav aria-label="Primary">
        <ul>
          <li><a href="/#home">Inicio</a></li>
          <li><a href="/#about">Sobre mi</a></li>
          <li><a href="/#blog">Posts</a></li>
          <li><a href="/#videos">Videos</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

